{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-export-default-from",
    ["babel-plugin-styled-components", {
        "ssr": true,
        "preprocess": false
    }]
  ]
}
