{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-proposal-export-default-from",
    ["babel-plugin-styled-components", {
        "ssr": true,
        "preprocess": false
    }],
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "app": "./src/app",
        "client": "./src/app/client",
        "common": "./src/app/components/common",
        "config": "./config",
        "ducks": "./src/app/ducks",
        "images": "./src/app/static/images",
        "modules": "./src/app/components/modules",
        "pages": "./src/app/components/pages",
        "router": "./src/server/router.js",
        "server": "./src/server",
        "services": "./src/app/services",
        "styles": "./src/app/styles",
        "vectors": "./src/app/static/vectors"
      }
    }]
  ]
}
